@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'STV';
    src: url('/fonts/stv-bold.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    font-family: 'STV' !important;
}

[x-cloak] {
    display: none;
}

[dir="rtl"] .form-select {
    background-position: left 0.5rem center;
}

/* For those who use it direct */

[dir="rtl"] select {
    background-position: left 0.5rem center;
}

[dir="rtl"] #pag_next {
    transform: scaleX(-1);
}

[dir="rtl"] #pag_prev {
    transform: scaleX(-1);
}

[dir="rtl"] .tracking-widest {
    letter-spacing: 0;
}

.btn {
    @apply font-bold py-2 px-4 rounded;
}

.btn-blue {
    @apply bg-blue-500 text-white;
}

.btn-blue:hover {
    @apply bg-blue-700;
}

.btn-red {
    @apply bg-red-500 text-white;
}

.btn-red:hover {
    @apply bg-red-700;
}
